*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #111;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightblue;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(87, 169, 127);
}
.product-img img {
  margin-top: 1rem;
  justify-self: center;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 0.2em;
}
.welcome {
  text-align: center;
  margin: 1.6rem 0 1rem;
  line-height: 1.4em;
}
.gioi-thieu {
  margin: 1.6rem 0;
  line-height: 1.4em;
}
.countdown {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box {
  width: 22vw;
  max-width: 120px;
  padding: 1.6rem 1rem;
  background-color: var(--black);
  color: #eee;
  border-radius: 0.3em;
}
.box > h3 {
  font-size: 3rem;
  text-align: center;
  line-height: 1em;
}
.box > p {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

footer {
  width: 100%;
max-width: 800px;
  padding: 2.5rem 0;
  background-color: var(--black);
  color: rgb(53, 165, 202);
  text-align: center;
  letter-spacing: 0.25em;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: -1;
}
