*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: lightblue;
}
.container {
  grid-column: 2;
  padding: 0 3rem;
  background-color: rgb(87, 169, 127);
}
.product-img {
  margin-top: 3rem;
  display: grid;
  object-fit: cover;
}
.product-img img {
  justify-self: center;
  width: 80%;
  object-fit: cover;
  border: 2px solid black;
}
.welcome {
  margin: 4rem 0 0;
}
.gioi-thieu {
  margin: 3rem 0;
}
.countdown {
  margin: 4rem auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  padding: 2rem;
  /* width: 100px; */
  background-color: #222;
  color: #eee;
}
.box > h3 {
  font-size: 5rem;
  text-align: center;
}
.box > p {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

footer {
  grid-column: 2;
  width: 100%;
  padding: 4rem 0;
  background-color: rgb(30, 28, 28);
  color: rgb(53, 165, 202);
  text-align: center;
  font-size: 1.6rem;

  letter-spacing: 0.25em;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: 1fr 4fr 1fr;
  }
}
